@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 500; 
}

body {
    background: url('assets/background.png');
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before { /* pseudo element to create a blurry overlay */
    content: ""; /* needed to create the pseudo element */
    position: absolute;
    width: 100%;
    height: 100dvh;
    background: rgb(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
}

.main-container {
    width: 300px;
    height: 496px;
    z-index: 1;
    background: linear-gradient(
        to top, rgb(0, 0, 0, 0.15),
        rgb(255, 255, 255, 0.15));
    border-radius: 18px;
    backdrop-filter: blur(100px);
    padding: 20px;
}

/* Input section */
.input-container {
    position: relative; /* child el can be positioned relative to this container */
    margin-bottom: 25px;
}

.city-input {
    width: 100%; 
    padding: 10px 16px;
    border-radius: 99px;
    border: 3px solid transparent; /* will change on :focus */
    background: rgb(0,0,0,0.15);
    outline: none;
    font-weight: 500;
    transition: 0.25s border;
    padding-right: 45px;
}

.city-input:focus {
    border: 3px solid rgba(84, 62, 91, 0.352);
}

.city-input::placeholder{
    color: rgba(214, 186, 186, 0.868)
}

.search-btn {
    position: absolute;
    background: none;
    border: none;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    display:flex;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.25s;
    
}

.search-btn:hover {
    opacity: 1;
}

/* utility class */
.regular-text {
    font-weight: 400;
}

/* weather info section */
.weather-info {
    display: flex;
    flex-direction: column; /* makes the direct children of .weather-info stack in a column*/
    gap: 25px;
}

.location-date-container {
    display: flex; /* flex direction row by default */
    justify-content: space-between; /* distribution along the main axis - here horizontal (flex direction: row) */
    align-items: center; /* distribution along the cross axis - here vertical */
}

.location {
    display: flex; 
    align-items: center;
    gap: 6px; /* spacing between flex items - here horizontal (flex direction) */
}

.weather-summary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-summary-img {
    width: 120px;
    height: 120px;
}

.weather-summary-info {
    flex: 1 1 auto; /* flex-grow, flex-shrink, flex-basis */
    min-width: 0; /* allows shrinking of content if needed */
    text-align: end;
}

.condition-text {
    white-space: normal; /* allows spaces and multiple lines */
    overflow-wrap: anywhere;
}

.weather-condition-container {
    display: flex;
    justify-content: space-between;
}

.condition-info {
    display: flex;
    align-items: center;
    gap: 6px;
    
}




    












